[user]
    email = gisselairel@gmail.com
    name = rookah

[core]
    excludesfile = ~/.gitignore

[credential]
    helper = cache --timeout=10000

[push]
    default = matching

[diff]
    tool = vimdiff
    algorithm = minimal

[merge]
    tool = vimdiff
    conflictstyle = diff3

[mergetool]
    prompt = false

[alias]
    st = status
    dt = difftool

[log]
    abbrevCommit = true
    date = relative
    decorate = short

[format]
    pretty=%C(3)* %C(2)%h %C(reset)%s %C(8)%cd%C(auto)%d

[color]
    ui = auto
