[user]
	email = gisselairel@gmail.com
	name = rookah

[push]
	default = matching

[alias]
    st = status

[log]
    abbrevCommit = true
    date = relative
    decorate = short

[format]
    pretty=%C(3)* %C(2)%h %C(reset)%s %C(8)%cd%C(auto)%d

[color]
	ui = auto
